@import "tailwindcss";

body {
  background-color: #f5faff;
  color: var(--Text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* padding: 20px; */
  position: relative;
}
:root {
  --Primary: #8caedc;
  --Text: #172136;
}
